
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
	/* Color Pallet */
	--sand-white: #f6f6f2;
	--green:	 	#C2EDCE;
	--blue1:	 	#BADFE7;
	--blue2:	 	#6FB3B8;
	--blue3:	 	#388087;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	box-sizing: border-box;
	background: var(--sand-white) !important;

	color: #333;
	font-family: "Plus Jakarta Sans";
}
